@using System
@using Markdig

<div>
    <strong>@UserName:</strong> @((MarkupString)Markdown.ToHtml(Message!)) <br />
    <small>@CreatedDate.ToString("yyyy-MM-dd HH:mm:ss.fff")</small>
</div>

@code {
[Parameter] public string UserName { get; set; } = string.Empty;
[Parameter] public string Message { get; set; } = string.Empty;
[Parameter] public DateTime CreatedDate { get; set; }
}
